## .NET Core / .NET 5+ / .NET 6+ / .NET 8
bin/
obj/
out/

## Rider / VS Code / VS / Resharper
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Paketler / Derleme
*.nupkg
*.snupkg
*.nuspec
*.dll
*.exe
*.app
*.appx
*.msi

## Kişisel Ayarlar / Temp Dosyalar
*.log
*.vspscc
*.vssscc
*.pidb
*.scc
*.pdb
*.mdb
*.cache
*.dbmdl
*.bak

## Config / Secrets
appsettings.*.json
secrets.json

## ASP.NET / IIS
wwwroot/
*.publishsettings
Generated_Code/

## Test / Coverage
TestResults/
coverage/
*.coverage
*.coveragexml
*.codecoverage

## RabbitMQ Özel (varsa)
*.pid
*.erlang.cookie

## Global Ignore
.DS_Store
Thumbs.db
*.tmp
*.swp
*.lock
